body {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-weight: 700px;
}
h2 {
  text-transform: uppercase;
  font-weight: bold;
}
p {
  font-weight: 900;
}
h4 {
  font-size: 1.1em;
}

/* Header */
.navbar {
  display: flex;
  justify-content: space-between;
}
.navbar ul {
  display: flex;
  list-style-type: none;
  flex-direction: row;
  align-items: center;
}
.navbar li {
  padding: 0 10px 0 20px;
  font-weight: bold;
}

/* section hero */
#hero {
  display: flex;
  background-image: url(images/backgroung_image.jpg);
  height: 450px;
  width: 100%;
  object-fit: cover;
}
#image {
  display: flex;
  align-items: center;
  align-content: center;
  margin: auto;
  flex-direction: column;
}
#image img {
  width: 60%;
}
#hero h1 {
  font-weight: 800;
  color: white;
  font-size: 1.6em;
}

/* Main */
#main {
  text-align: center;
  max-width: 70%;
  margin: auto;
}
#main h3 {
  padding: 30px 0 30px 0;
}
#citation {
  max-width: 70%;
  display: block;
  margin: auto;
}
#posts {
  display: flex;
  flex-direction: row;
  align-items: center;
}
#posts div p {
  margin-left: 20px;
}

/* footer */
footer {
  background-color: rebeccapurple;
  color: snow;
}
#resume {
  font-weight: bold;
  padding: 20px 0 20px 0;
  text-align: center;
}
#social {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 20px 0 20px 0;
  width: 50%;
  margin: auto;
  opacity: 0.6;
  font-size: 1.5em;
}
#pied {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 20px;
}
#pied h3 {
  text-align: left;
}

@media screen and (max-width: 500px) {
  #posts {
    display: block;
    margin: auto;
  }
  #pied {
    display: block;
    margin: auto;
    text-align: center;
  }
  #pied h3 {
    text-align: center;
  }
  li {
    list-style-type: none;
  }
  .navbar {
    flex-direction: column;
    align-items: center;
  }
}
